* {
    margin: 0;
}

/* FONTS */


body {
    background-color: #212121;
    font-family: soleil, sans-serif;
    color: white;
    font-weight: 300;
    max-width: 1200px;
    margin: auto;
}


h1 {
    font-family: soleil, sans-serif;
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 2px;
}

h2 {
    font-family: soleil, sans-serif;
    font-size: 1.8rem;
    font-weight: 100;
    letter-spacing: 2px;
    padding: 20px 0px;
}

h3 {
    font-family: soleil, sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 2px;
}

p {
    font-family: soleil, sans-serif;
    font-size: 1rem;
    font-weight: 300;
    padding-bottom: 20px;
}

a {
    text-decoration:underline;
    text-underline-offset: 4px;
    color: rgb(13, 93, 51);
    font-family: soleil, sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

a:hover {
    text-decoration: none;
    transition-timing-function: ease-out;
    transition: 0.5s;
    font-size: 1.1rem;
    font-weight: 800;
}

img {
    width: 100%;
}


section {
    padding: 60px 0px;

}

footer {
    padding: 60px 0px;
    text-align: center;
}

.nav { 
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.hero {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    margin: 0px 20px;
    border-radius: 10px;
    background:linear-gradient(0deg, rgba(8, 8, 8, 0.5), rgba(23, 73, 54, 0.5)), url(/img/bible-img.jpg);
    background-size: cover;
    background-position: center;
    padding: 10px;

}

.category-div {
    padding: 0px 20px;
}


.card-carousel {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    padding-left: 10px;
    padding: 60px 0px;
    
}

.card {
    display: inline-block;
    width: 200px;
    color: #000000;
    background-color: white;
    margin: 0px 10px;
    padding: 20px;
    border-radius: 10px;
}

.card:hover {
    transform: translateY(-10px) scale(1.02);
    transition-timing-function: ease-in-out;
    transition: 0.5s;
    
}

.article-wrapper {
    padding: 0px 20px;
}

.content-div {
    width: 300px;
    margin: 10px 0px 20px 0px;
    
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.nav>h1 {
    margin-bottom: 20px;
}

.back-div>a {
    color: white;
}

.nav>a {
    color: white;
    text-decoration: none;
    font-weight: 800;
}

.card>img {
    border-radius: 5px;
    margin-bottom: 10px;
}

.description {
    padding: 60px 20px 0px 20px;
}

.description>p {
    font-size: 1.2rem;
    line-height: 2.2rem;
    padding-top: 20px;
}